.portfolio {
    text-align: center;
    padding: 50px 20px;
    padding-top: 170px;
    font-size: 22px;
}

.subtitle {
    color: white;
}

.portfolio2 {
    text-align: center;
    padding: 50px 20px;
    padding-top: 120px;
    font-size: 22px;
}

.portfolio-container {
    padding-top: 50px;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio-card {
    width: 300px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.portfolio-card img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    max-height: 300px;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #50c878;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background: #205a49;
}