        .round-btn {
            width: 40px;
            height: 40px;
            background-color: #db75f8;
            color: white;
            border: none;
            border-radius: 50%;
            /* 동그랗게 만들기 */
            font-size: 16px;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
            transition: background-color 0.3s;
            float: left;
            margin-left: 10px;
        }

        .position-btn {
            padding-top: 870px;
            padding-left: 210px;
        }