.bar {
    padding-top: 30px;
}

.menu {
    float: left;
    color: #fff;
    margin-top: 3px;
    margin-left: 100px;
    font-size: 22px;
    font-weight: bold;
}

.menu a {
    text-decoration: none;
    /* 밑줄 제거 */
    color: inherit;
    /* 부모 요소의 글자 색상 상속 */
}

.menu a:hover {
    color: rgb(227, 240, 47);
    /* 마우스 호버 시 글자 색상 변경 */
    transition: color 0.3s ease-in-out;
    /* 부드러운 색상 변화 */
}