<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인화면</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>
    <div class="main">
        <!-- content -->
        <div class="area1">
            <!-- logo -->
            <div class="logo">
                <a href="/" th:href="@{/}"><img th:src="@{/images/logo.jpg}" alt="logo" width="200px"
                        height="100px"></a>
            </div>

            <div class="subarea">
                <div class="title">
                    About Me
                </div>
                <div class="subarea">
                    <h2><button class="toggle-btn" data-image="/images/visionOrigin.jpg">비전</button></h2>
                    <h2><button class="toggle-btn" data-image="/images/skill.jpg">기술스택</button></h2>
                    <h2><button class="toggle-btn" data-image="/images/info.jpg">인적사항</button></h2>
                    <h2><button class="toggle-btn" data-image="/images/grow.jpg">성장과정</button></h2>
                    <h2><button class="toggle-btn" data-image="/images/history.jpg">연혁</button></h2>
                    <h2><button class="toggle-btn" data-image="/images/hobbies.jpg">취미</button></h2>
                    <h2><button class="toggle-btn" data-image="/images/cause.jpg">지원동기</button></h2>
                </div>
            </div>
        </div>

        <!-- image -->
        <div class="area2">
            <!-- topmenu -->
            <div>
                <div th:replace="~{topmenu}"></div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/changeImage.js}" defer></script>
</body>

</html>