<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>연락처</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/contact.css}">
</head>

<body>
    <div class="main">
        <!-- content -->
        <div class="area1">
            <!-- logo -->
            <div class="logo">
                <a href="/" th:href="@{/}"><img th:src="@{/images/logo.jpg}" alt="logo" width="200px"
                        height="100px"></a>
            </div>

            <div class="subarea">
                <div class="title">
                    Cotact
                </div>
                <div class="subarea" style="text-align: center;">
                    <div>
                        <h2>연락처: </h2>
                        <p> 010-8048-1034</p>
                        <h2>이메일: </h2>
                        <P> wlwl45wl@gmail.com</P>
                    </div>
                    <div class="ikon-btn">
                        <a href="https://www.facebook.com/profile.php?id=100002609716783">
                            <img src="/images/facebook.png" class="ikon">
                        </a>
                        <a href="https://www.instagram.com/jw_ba55/">
                            <img src="/images/instagram.png" class="ikon">
                        </a>
                        <a href="https://www.linkedin.com/in/%EC%A7%80%EC%9A%B1-%EC%A0%95-405662135/">
                            <img src="/images/linkedin.png" class="ikon">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- image -->
        <div class="area5">
            <!-- topmenu -->
            <div>
                <div th:replace="~{topmenu}"></div>
            </div>
        </div>
    </div>
</body>

</html>