<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인화면</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/portfolio.css}">
    <script th:src="@{/js/portfolio.js}"></script>
</head>

<body>
    <div class="main">
        <!-- content -->
        <div class="area1">
            <!-- logo -->
            <div class="logo">
                <a href="/" th:href="@{/}"><img th:src="@{/images/logo.jpg}" alt="logo" width="200px"
                        height="100px"></a>
            </div>

            <div class="subarea">
                <div class="title">
                    Portfolio
                </div>
                <div class="subarea">
                    <h2><button class="toggle-btn" id="teamProject">팀 프로젝트</button></h2>
                    <h2><button class="toggle-btn" id="singleProject">개인 프로젝트</button>
                    </h2>
                    <h2><button class="toggle-btn" data-image="/images/introduce.jpg" id="serviceProject">서비스</button>
                    </h2>
                </div>
            </div>
        </div>

        <!-- image -->
        <div class="area3">
            <!-- topmenu -->
            <div>
                <div th:replace="~{topmenu}"></div>
            </div>

            <div class="portfolio" id="portfolioSection" style="display: none;">
                <h2 class="subtitle">📌 Portfolio</h2>
                <div class="portfolio-container">
                    <div class="portfolio-card">
                        <img src="/images/wandukong.png" alt="프로젝트1">
                        <h3>완두콩 프로젝트</h3>
                        <p>싸이월드를 모티브로 한<br>순한맛 차세대 SNS입니다
                        </p>
                        <a href="https://wookportfolio.duckdns.org:81/login" class="btn">사이트 링크</a>
                    </div>
                    <div class="portfolio-card">
                        <img src="/images" alt="프로젝트2">
                        <h3>코딩기딩</h3>
                        <p>개발자들을 위한 소스공유 & 커뮤니티 사이트입니다.
                        </p>
                        <a href="https://wookportfolio.duckdns.org:83" class="btn">수정중</a>
                    </div>
                </div>
            </div>

            <div class="portfolio2" id="portfolioSection2" style="display: none;">
                <h2 class="subtitle">📌 Portfolio</h2>
                <div class="portfolio-container">
                    <div class="portfolio-card">
                        <img src="/images/MMT.png" alt="프로젝트3">
                        <h3>My Music Trade</h3>
                        <p>사용자들이 자신들이 만든 음악을 공유하거나
                            <br>거래 할 수있는 사이트입니다.
                        </p>
                        <a href="#" class="btn">배포 준비중</a>
                    </div>
                </div>
            </div>

            <div class="portfolio" id="portfolioSection3" style="display: none;">
                <h2>📌 Portfolio</h2>
                <div class="portfolio-container">
                    <div class="portfolio-card">
                        <img src="/images/project1.jpg" alt="프로젝트5">
                        <h3>도매몰</h3>
                        <p>생산 업체와 소비자를 잇는 도매몰입니다.</p>
                        <a href="#" class="btn">개발중</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <script th:src="@{/js/changeImage.js}" defer></script>
</body>

</html>