<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/topmenu.css}">
</head>

<body>
    <div class="bar">
        <!-- 상단 메뉴바 -->
        <div style="padding-left: 50px;">
            <div class="menu"><a href="/aboutMe" th:href="@{/aboutMe}">About Me</a></div>
            <div class="menu"><a href="/portfolio" th:href="@{/portfolio}">Portfolio</a></div>
            <div class="menu"><a href="/study" th:href="@{/study}">Study</a></div>
            <div class="menu"><a href="/contact" th:href="@{/contact}">Contact</a></div>
        </div>
    </div>

</body>

</html>