<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인화면</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/portfolio.css}" />
    <link rel="stylesheet" th:href="@{/css/roundbutton2.css}" />
    <script th:src="@{/js/project.js}"></script>
  </head>

  <body>
    <div class="main">
      <!-- content -->
      <div class="area1">
        <!-- logo -->
        <div class="logo">
          <a href="/" th:href="@{/}"
            ><img
              th:src="@{/images/logo.jpg}"
              alt="logo"
              width="200px"
              height="100px"
          /></a>
        </div>

        <div class="subarea">
          <div class="title">Team Project</div>
          <div class="subarea">
            <h2><button class="toggle-btn" id="teamProject">완두콩</button></h2>
          </div>
        </div>
      </div>

      <!-- image -->
      <div class="projectArea">
        <!-- topmenu -->
        <div>
          <div th:replace="~{topmenu}"></div>
        </div>
        <div class="area4">
          <div
            class="contant"
            id="title"
            style="display: none; color: white; padding-left: 100px"
          >
            <div class="title2">완두콩</div>
            <br /><br /><br />
            <div style="color: white;">
              <h2>
                Git:
                <a href="https://github.com/wandu-k/wandu-backend"
                  >백엔드 코드</a
                >
              </h2>
              <h2>
                portfoio:
                <a
                  href="https://www.canva.com/design/DAGY3jCJj5Y/IjUd3b69XXuoNahpc4UNvw/view?utm_content=DAGY3jCJj5Y&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=hdc976f45bb"
                  >담당 파트 및 시연영상</a
                >
              </h2>
            </div>
          </div>
        </div>
        <div class="position-btn">
          <div>
            <button
              class="round-btn"
              data-image="../images/teamproject/wandu1.jpg"
              id="hide"
            >
              1
            </button>
          </div>
          <div>
            <button class="round-btn" id="access">2</button>
          </div>
          <div>
            <button
              class="round-btn"
              data-image="../images/teamproject/wandu2.jpg"
              id="hide1"
            >
              3
            </button>
          </div>
          <div>
            <button
              class="round-btn"
              data-image="../images/teamproject/wandu3.jpg"
              id="hide2"
            >
              4
            </button>
          </div>
          <div>
            <button
              class="round-btn"
              data-image="../images/teamproject/wandu4.jpg"
              id="hide3"
            >
              5
            </button>
          </div>
          <div>
            <button
              class="round-btn"
              data-image="../images/teamproject/wandu5.jpg"
              id="hide4"
            >
              6
            </button>
          </div>
          <div>
            <button
              class="round-btn"
              data-image="../images/teamproject/wandu6.jpg"
              id="hide5"
            >
              7
            </button>
          </div>
          <div>
            <button
              class="round-btn"
              data-image="../images/teamproject/wandu7.jpg"
              id="hide6"
            >
              8
            </button>
          </div>
          <div>
            <button
              class="round-btn"
              data-image="../images/teamproject/wandu8.jpg"
              id="hide7"
            >
              9
            </button>
          </div>
          <div>
            <button
              class="round-btn"
              data-image="../images/teamproject/wandu9.jpg"
              id="hide8"
            >
              10
            </button>
          </div>
          <div>
            <button
              class="round-btn"
              data-image="../images/teamproject/wandu10.jpg"
              id="hide9"
            >
              11
            </button>
          </div>
        </div>
      </div>
    </div>
    <script th:src="@{/js/projectImage.js}" defer></script>
  </body>
</html>
